body {
  font-family: sans-serif;
}

.game {
  max-width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell {
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 30px;
    border: 1px solid black;
    color: black;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: white;
}

.reset-button {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px 10px;
}